# Cổng chạy Backend Express (Mặc định: 5000)
PORT=5000

# Địa chỉ API Backend cho Frontend kết nối
VITE_API_URL=https://api.toolseo.uk

# Danh sách domain Frontend được phép gọi API (CORS)
CORS_ORIGIN=https://toolseo.uk
